---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar";
import ItemSection from "../components/ItemSection.astro";
import { Image } from "astro:assets";
import hintaIcon from "../assets/hinta.png";
import { sections } from "../data/index";
import DuplicateDetector from "../components/DuplicateDetector.astro";
---

<Layout>
  <DuplicateDetector />
  <main class="p-6 md:px-8 mx-auto">
    <div class="my-12 text-center">
      <h1
        class="font-extrabold tracking-tight text-5xl text-zinc-950 flex items-center justify-center gap-3"
      >
        <Image src={hintaIcon} alt="ZK Hints Icon" width={120} height={120} />
        ZK Hints
      </h1>
      <p class="text-xl mt-4">
        Hey! I'm <a href="https://twitter.com/icerdesign" class="text-blue-600 hover:underline"
          >@icerdesign</a
        > and this is a modest collection of ZK Hints I've written.
      </p>
    </div>

    <div role="banner">
      <SearchBar client:load />
      <div class="mt-8"></div>
    </div>

    <div class="pages-list" role="main">
      {sections.map((section) => <ItemSection title={section.title} items={section.items} />)}
    </div>
  </main>
</Layout>
